<app-layout>
  <div class="dashboard-container">
    <mat-toolbar class="page-header" role="heading">
      <span class="heading-main">Event</span>
    </mat-toolbar>

    <div id="wrap">
      <div id="left">
        <button routerLink="/form_event" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
        <p class="button-text">Add New Event</p>
      </div>
      <div id="right">
        <app-search-box #SearchBox (textChange)="changeSearchText($event)"></app-search-box>
      </div>
    </div>
    <!-- table                    -->
    <div class="example-container mat-elevation-z8">
      <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="true"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
          API error.
        </div>
      </div>

      <div class="example-table-container">

        <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="date" matSortDisableClear
          matSortDirection="desc">
          <!-- Number Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
            <td mat-cell *matCellDef="let row">{{row.category}}</td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
            <td mat-cell *matCellDef="let row">{{row.title}}</td>
          </ng-container>

          <!-- State Column -->
          <ng-container matColumnDef="createdOn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created On</th>
            <td mat-cell *matCellDef="let row">{{row.createdOn | date: 'dd-MM-yyyy'}}</td>
          </ng-container>

          <!-- Created Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
              Event date
            </th>
            <td mat-cell *matCellDef="let row">{{row.date | date: 'dd-MM-yyyy HH:mm'}}</td>
          </ng-container>
          <!-- Action Column -->
          <ng-container matColumnDef="report">
            <th mat-header-cell *matHeaderCellDef class="wd-10"> Report </th>
            <td mat-cell *matCellDef="let row"> <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                color="accent" (click)="openReport(row)">
                <mat-icon>summarize</mat-icon>
              </button> </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef class="wd-10"> Edit </th>
            <td mat-cell *matCellDef="let row"> <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                color="primary" (click)="openDialogEdit(row)">
                <mat-icon>edit</mat-icon>
              </button> </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef class="wd-10"> Delete </th>
            <td mat-cell *matCellDef="let row"> <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
                (click)="openDialogDelete(row)" color="warn">
                <mat-icon>delete</mat-icon>
              </button> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <!-- <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of GitHub search results">
    </mat-paginator> -->
      <mat-paginator [length]="resultsLength" [pageSize]="12" [pageSizeOptions]="[5, 12, 50, 100]" showFirstLastButtons
        aria-label="Select page">
      </mat-paginator>
    </div>
    <app-footer></app-footer>
  </div>
</app-layout>